<div class="toc-widget">
  <h3 class="toc-title">目录</h3>
  <div class="toc-content">
    <%- toc(page.content, {
      class: 'toc-list',
      list_number: false,
      max_depth: 4,
      min_depth: 1
    }) %>
  </div>
</div>
